<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koodiguru - Tulossa pian</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="centered">
        <h1>Koodiguru</h1>
        <p>Kehitteillä oleva oppimisympäristö, joka tulee tarjoamaan ohjelmointitehtäviä ja muuta aiheeseen liittyvää
            materiaalia.
        </p>
        <p><strong>Tulossa pian!!</strong></p>
    </div>
</body>

</html>