
{% extends 'main_app/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">


<h2>Käyttäjien raportti</h2>
<table>
  <thead>
    <tr>
      <th>Käyttäjänimi</th>
      <th>Rooli</th>
      <th>Pisteet</th>
      <th>Taso</th>
      <th>Suoritetut tehtävät</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.get_role_display }}</td>
        <td>{{ user.points }}</td>
        <td>{{ user.current_level_name }}</td>
        <td>{{ user.completed_tasks }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}