<head>

   </head>
   {% extends 'main_app/base.html' %}
   {% block title %}
       KoodiGuru-review task
   {% endblock %}
   {% block content %}
   {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/review_task_styles.css' %}">
<a href="{% url 'main_app:course_detail' task.course.id %}"> Siirry takaisin  kurssin pääsivulle</a>
<h1 style="text-align: center">{{ task.taskTitle|safe }}</h1>
<br>
<br>
   <h3 class="content-header">Tehtävänanto </h3>
  
   <div class="description-style content-section">
       <p>{{ task.taskDescription|safe }}</p>
   </div>
   <br> 
   <div class="task-actions">
    <a href="{% url 'main_app:perform_task' task.id %}">Suorita tehtävä uudestaan</a>
    {% if next_task %}
        <a href="{% url 'main_app:perform_task' next_task.id %}">Siirry seuraavaan tehtävään</a>
    {% else %}
        <span>Olet suorittanut kaikki tehtävät!</span>
    {% endif %}
</div>
   <br>
   <br>
   <div class="example-run-container content-section">
       <h3>Esimerkkiajo:</h3>
       <div class="example-run">
           <pre class="prettyprint">
   <p>{{ answer.answerOutput }}</p>
           </pre>
       </div>
   </div>
   <div class="example-run-container content-section">
       <h3>Tehtävän mallivastaus:</h3>
       <div class="example-run">
           <pre class="prettyprint">   
                <pre>{{ answer.answerText}}</pre>
           </pre>
       </div>
       {% if  answer.aswerVideo %}
       <p><a href="{{ answer.aswerVideo }}" target="_blank"><strong>Linkki tehtävän vastaus tutoriaaliin</a></strong></p>
   {% endif %}
   </div>
   <div class="example-run-container content-section">
       <h3>Sinun koodisi:</h3>
       <div class="example-run">
           <pre class="prettyprint">      
              <pre>{{user_answer.answer}}</pre>
           </pre>
       </div>
   </div>
   {% endblock %}
   