



{% extends "main_app/base.html" %}

{% block content %}
    <div class="centered-wrapper">
        <div class="form-container register-form">
            <form method="post">
                {% csrf_token %}
                <h2>Palauta salasana</h2>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Sähköposti:</label>
                    {{ form.email }}
                </div>
                <button type="submit" class="btn btn-primary">Palauta salasana</button>
            </form>
        </div>
    </div>
{% endblock %}

